archivos/TerminologiaWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.hospitalitaliano.org.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.hospitalitaliano.org.ar/" name="TerminologiaWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.hospitalitaliano.org.ar/" schemaLocation="http://www1.hospitalitaliano.org.ar:8082/TerminologiaWSMultiContextoTest/TerminologiaWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerCodigoTesauro">
<part name="parameters" element="tns:obtenerCodigoTesauro"/>
</message>
<message name="obtenerCodigoTesauroResponse">
<part name="parameters" element="tns:obtenerCodigoTesauroResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="obtenerClasificador">
<part name="parameters" element="tns:obtenerClasificador"/>
</message>
<message name="obtenerClasificadorResponse">
<part name="parameters" element="tns:obtenerClasificadorResponse"/>
</message>
<message name="obtenerClasificadorUnico">
<part name="parameters" element="tns:obtenerClasificadorUnico"/>
</message>
<message name="obtenerClasificadorUnicoResponse">
<part name="parameters" element="tns:obtenerClasificadorUnicoResponse"/>
</message>
<message name="obtenerClasificadorOficial">
<part name="parameters" element="tns:obtenerClasificadorOficial"/>
</message>
<message name="obtenerClasificadorOficialResponse">
<part name="parameters" element="tns:obtenerClasificadorOficialResponse"/>
</message>
<message name="obtenerConceptXDescID">
<part name="parameters" element="tns:obtenerConceptXDescID"/>
</message>
<message name="obtenerConceptXDescIDResponse">
<part name="parameters" element="tns:obtenerConceptXDescIDResponse"/>
</message>
<message name="obtenerEsMemberSubset">
<part name="parameters" element="tns:obtenerEsMemberSubset"/>
</message>
<message name="obtenerEsMemberSubsetResponse">
<part name="parameters" element="tns:obtenerEsMemberSubsetResponse"/>
</message>
<message name="ObtenerModeladoHIBADescription">
<part name="parameters" element="tns:ObtenerModeladoHIBADescription"/>
</message>
<message name="ObtenerModeladoHIBADescriptionResponse">
<part name="parameters" element="tns:ObtenerModeladoHIBADescriptionResponse"/>
</message>
<message name="obtenerExpresionSnomed">
<part name="parameters" element="tns:obtenerExpresionSnomed"/>
</message>
<message name="obtenerExpresionSnomedResponse">
<part name="parameters" element="tns:obtenerExpresionSnomedResponse"/>
</message>
<message name="ObtenerCodigoSNMapeo">
<part name="parameters" element="tns:ObtenerCodigoSNMapeo"/>
</message>
<message name="ObtenerCodigoSNMapeoResponse">
<part name="parameters" element="tns:ObtenerCodigoSNMapeoResponse"/>
</message>
<message name="obtenerMapSetsCorrientes">
<part name="parameters" element="tns:obtenerMapSetsCorrientes"/>
</message>
<message name="obtenerMapSetsCorrientesResponse">
<part name="parameters" element="tns:obtenerMapSetsCorrientesResponse"/>
</message>
<message name="obtenerMembers">
<part name="parameters" element="tns:obtenerMembers"/>
</message>
<message name="obtenerMembersResponse">
<part name="parameters" element="tns:obtenerMembersResponse"/>
</message>
<message name="obtenerMembersConceptoSubset">
<part name="parameters" element="tns:obtenerMembersConceptoSubset"/>
</message>
<message name="obtenerMembersConceptoSubsetResponse">
<part name="parameters" element="tns:obtenerMembersConceptoSubsetResponse"/>
</message>
<message name="obtenerMembersCohorte">
<part name="parameters" element="tns:obtenerMembersCohorte"/>
</message>
<message name="obtenerMembersCohorteResponse">
<part name="parameters" element="tns:obtenerMembersCohorteResponse"/>
</message>
<message name="obtenerListaDeSubsets">
<part name="parameters" element="tns:obtenerListaDeSubsets"/>
</message>
<message name="obtenerListaDeSubsetsResponse">
<part name="parameters" element="tns:obtenerListaDeSubsetsResponse"/>
</message>
<message name="obtenerGenericosPorTxtYSubset">
<part name="parameters" element="tns:obtenerGenericosPorTxtYSubset"/>
</message>
<message name="obtenerGenericosPorTxtYSubsetResponse">
<part name="parameters" element="tns:obtenerGenericosPorTxtYSubsetResponse"/>
</message>
<message name="obtenerPresentacionesComercialesXGenerico">
<part name="parameters" element="tns:obtenerPresentacionesComercialesXGenerico"/>
</message>
<message name="obtenerPresentacionesComercialesXGenericoResponse">
<part name="parameters" element="tns:obtenerPresentacionesComercialesXGenericoResponse"/>
</message>
<message name="obtenerGenericoXPresentacionComercial">
<part name="parameters" element="tns:obtenerGenericoXPresentacionComercial"/>
</message>
<message name="obtenerGenericoXPresentacionComercialResponse">
<part name="parameters" element="tns:obtenerGenericoXPresentacionComercialResponse"/>
</message>
<message name="obtenerMedicamentoClinicoPorMedicamentoBasico">
<part name="parameters" element="tns:obtenerMedicamentoClinicoPorMedicamentoBasico"/>
</message>
<message name="obtenerMedicamentoClinicoPorMedicamentoBasicoResponse">
<part name="parameters" element="tns:obtenerMedicamentoClinicoPorMedicamentoBasicoResponse"/>
</message>
<message name="obtenerMedicamentoBasicoPorMedicamentoClinico">
<part name="parameters" element="tns:obtenerMedicamentoBasicoPorMedicamentoClinico"/>
</message>
<message name="obtenerMedicamentoBasicoPorMedicamentoClinicoResponse">
<part name="parameters" element="tns:obtenerMedicamentoBasicoPorMedicamentoClinicoResponse"/>
</message>
<message name="obtenerSubsetsXDescId">
<part name="parameters" element="tns:obtenerSubsetsXDescId"/>
</message>
<message name="obtenerSubsetsXDescIdResponse">
<part name="parameters" element="tns:obtenerSubsetsXDescIdResponse"/>
</message>
<message name="obtenerAtributosDeDescription">
<part name="parameters" element="tns:obtenerAtributosDeDescription"/>
</message>
<message name="obtenerAtributosDeDescriptionResponse">
<part name="parameters" element="tns:obtenerAtributosDeDescriptionResponse"/>
</message>
<message name="obtenerOfertaTextos">
<part name="parameters" element="tns:obtenerOfertaTextos"/>
</message>
<message name="obtenerOfertaTextosResponse">
<part name="parameters" element="tns:obtenerOfertaTextosResponse"/>
</message>
<message name="obtenerOfertaTextosMultiSubset">
<part name="parameters" element="tns:obtenerOfertaTextosMultiSubset"/>
</message>
<message name="obtenerOfertaTextosMultiSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosMultiSubsetResponse"/>
</message>
<message name="obtenerOfertaTextosConCaducidad">
<part name="parameters" element="tns:obtenerOfertaTextosConCaducidad"/>
</message>
<message name="obtenerOfertaTextosConCaducidadResponse">
<part name="parameters" element="tns:obtenerOfertaTextosConCaducidadResponse"/>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset"/>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetResponse"/>
</message>
<message name="obtenerOfertaSimilitud">
<part name="parameters" element="tns:obtenerOfertaSimilitud"/>
</message>
<message name="obtenerOfertaSimilitudResponse">
<part name="parameters" element="tns:obtenerOfertaSimilitudResponse"/>
</message>
<message name="obtenerOfertaSimilitudXFrecuenciaUso">
<part name="parameters" element="tns:obtenerOfertaSimilitudXFrecuenciaUso"/>
</message>
<message name="obtenerOfertaSimilitudXFrecuenciaUsoResponse">
<part name="parameters" element="tns:obtenerOfertaSimilitudXFrecuenciaUsoResponse"/>
</message>
<message name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubset">
<part name="parameters" element="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubset"/>
</message>
<message name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetResponse"/>
</message>
<message name="obtenerDataDescriptionId">
<part name="parameters" element="tns:obtenerDataDescriptionId"/>
</message>
<message name="obtenerDataDescriptionIdResponse">
<part name="parameters" element="tns:obtenerDataDescriptionIdResponse"/>
</message>
<message name="obtenerAuditoriaTermino">
<part name="parameters" element="tns:obtenerAuditoriaTermino"/>
</message>
<message name="obtenerAuditoriaTerminoResponse">
<part name="parameters" element="tns:obtenerAuditoriaTerminoResponse"/>
</message>
<message name="obtenerComposicionFarmacoXDescId">
<part name="parameters" element="tns:obtenerComposicionFarmacoXDescId"/>
</message>
<message name="obtenerComposicionFarmacoXDescIdResponse">
<part name="parameters" element="tns:obtenerComposicionFarmacoXDescIdResponse"/>
</message>
<message name="obtenerOfertaProductoPresentacion">
<part name="parameters" element="tns:obtenerOfertaProductoPresentacion"/>
</message>
<message name="obtenerOfertaProductoPresentacionResponse">
<part name="parameters" element="tns:obtenerOfertaProductoPresentacionResponse"/>
</message>
<message name="obtenerDetalleProductoPresentacion">
<part name="parameters" element="tns:obtenerDetalleProductoPresentacion"/>
</message>
<message name="obtenerDetalleProductoPresentacionResponse">
<part name="parameters" element="tns:obtenerDetalleProductoPresentacionResponse"/>
</message>
<message name="ObtenerComposicionGenericoAmbulatorio">
<part name="parameters" element="tns:ObtenerComposicionGenericoAmbulatorio"/>
</message>
<message name="ObtenerComposicionGenericoAmbulatorioResponse">
<part name="parameters" element="tns:ObtenerComposicionGenericoAmbulatorioResponse"/>
</message>
<message name="ObtenerComposicionGenerico">
<part name="parameters" element="tns:ObtenerComposicionGenerico"/>
</message>
<message name="ObtenerComposicionGenericoResponse">
<part name="parameters" element="tns:ObtenerComposicionGenericoResponse"/>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorio">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorio"/>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorioResponse">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorioResponse"/>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorioAll">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorioAll"/>
</message>
<message name="ObtenerComposicionPresentacionAmbulatorioAllResponse">
<part name="parameters" element="tns:ObtenerComposicionPresentacionAmbulatorioAllResponse"/>
</message>
<message name="obtenerPrompting">
<part name="parameters" element="tns:obtenerPrompting"/>
</message>
<message name="obtenerPromptingResponse">
<part name="parameters" element="tns:obtenerPromptingResponse"/>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConOfeSubset">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubset"/>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetConOfeSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubsetResponse"/>
</message>
<message name="obtenerOfertaTextosIndependienteSubset">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubset"/>
</message>
<message name="obtenerOfertaTextosIndependienteSubsetResponse">
<part name="parameters" element="tns:obtenerOfertaTextosIndependienteSubsetResponse"/>
</message>
<message name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad">
<part name="parameters" element="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad"/>
</message>
<message name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadResponse">
<part name="parameters" element="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadResponse"/>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad"/>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadResponse">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadResponse"/>
</message>
<message name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal">
<part name="parameters" element="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal"/>
</message>
<message name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalResponse">
<part name="parameters" element="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalResponse"/>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausal">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausal"/>
</message>
<message name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalResponse">
<part name="parameters" element="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalResponse"/>
</message>
<message name="ObtenerCodigoAntecedenteFamiliarPorDescriptionId">
<part name="parameters" element="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionId"/>
</message>
<message name="ObtenerCodigoAntecedenteFamiliarPorDescriptionIdResponse">
<part name="parameters" element="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionIdResponse"/>
</message>
<message name="obtenerFamiliares">
<part name="parameters" element="tns:obtenerFamiliares"/>
</message>
<message name="obtenerFamiliaresResponse">
<part name="parameters" element="tns:obtenerFamiliaresResponse"/>
</message>
<message name="informarDescripcionConsumida">
<part name="parameters" element="tns:informarDescripcionConsumida"/>
</message>
<message name="informarDescripcionConsumidaResponse">
<part name="parameters" element="tns:informarDescripcionConsumidaResponse"/>
</message>
<portType name="TerminologiaWS">
<operation name="obtenerCodigoTesauro">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerCodigoTesauroRequest" message="tns:obtenerCodigoTesauro"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerCodigoTesauroResponse" message="tns:obtenerCodigoTesauroResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerCodigoTesauro/Fault/Exception"/>
</operation>
<operation name="obtenerClasificador">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerClasificadorRequest" message="tns:obtenerClasificador"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerClasificadorResponse" message="tns:obtenerClasificadorResponse"/>
</operation>
<operation name="obtenerClasificadorUnico">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerClasificadorUnicoRequest" message="tns:obtenerClasificadorUnico"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerClasificadorUnicoResponse" message="tns:obtenerClasificadorUnicoResponse"/>
</operation>
<operation name="obtenerClasificadorOficial">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerClasificadorOficialRequest" message="tns:obtenerClasificadorOficial"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerClasificadorOficialResponse" message="tns:obtenerClasificadorOficialResponse"/>
</operation>
<operation name="obtenerConceptXDescID">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerConceptXDescIDRequest" message="tns:obtenerConceptXDescID"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerConceptXDescIDResponse" message="tns:obtenerConceptXDescIDResponse"/>
</operation>
<operation name="obtenerEsMemberSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerEsMemberSubsetRequest" message="tns:obtenerEsMemberSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerEsMemberSubsetResponse" message="tns:obtenerEsMemberSubsetResponse"/>
</operation>
<operation name="ObtenerModeladoHIBADescription">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerModeladoHIBADescriptionRequest" message="tns:ObtenerModeladoHIBADescription"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerModeladoHIBADescriptionResponse" message="tns:ObtenerModeladoHIBADescriptionResponse"/>
</operation>
<operation name="obtenerExpresionSnomed">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerExpresionSnomedRequest" message="tns:obtenerExpresionSnomed"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerExpresionSnomedResponse" message="tns:obtenerExpresionSnomedResponse"/>
</operation>
<operation name="ObtenerCodigoSNMapeo">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoSNMapeoRequest" message="tns:ObtenerCodigoSNMapeo"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoSNMapeoResponse" message="tns:ObtenerCodigoSNMapeoResponse"/>
</operation>
<operation name="obtenerMapSetsCorrientes">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMapSetsCorrientesRequest" message="tns:obtenerMapSetsCorrientes"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMapSetsCorrientesResponse" message="tns:obtenerMapSetsCorrientesResponse"/>
</operation>
<operation name="obtenerMembers">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMembersRequest" message="tns:obtenerMembers"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMembersResponse" message="tns:obtenerMembersResponse"/>
</operation>
<operation name="obtenerMembersConceptoSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMembersConceptoSubsetRequest" message="tns:obtenerMembersConceptoSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMembersConceptoSubsetResponse" message="tns:obtenerMembersConceptoSubsetResponse"/>
</operation>
<operation name="obtenerMembersCohorte">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMembersCohorteRequest" message="tns:obtenerMembersCohorte"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMembersCohorteResponse" message="tns:obtenerMembersCohorteResponse"/>
</operation>
<operation name="obtenerListaDeSubsets">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerListaDeSubsetsRequest" message="tns:obtenerListaDeSubsets"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerListaDeSubsetsResponse" message="tns:obtenerListaDeSubsetsResponse"/>
</operation>
<operation name="obtenerGenericosPorTxtYSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerGenericosPorTxtYSubsetRequest" message="tns:obtenerGenericosPorTxtYSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerGenericosPorTxtYSubsetResponse" message="tns:obtenerGenericosPorTxtYSubsetResponse"/>
</operation>
<operation name="obtenerPresentacionesComercialesXGenerico">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerPresentacionesComercialesXGenericoRequest" message="tns:obtenerPresentacionesComercialesXGenerico"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerPresentacionesComercialesXGenericoResponse" message="tns:obtenerPresentacionesComercialesXGenericoResponse"/>
</operation>
<operation name="obtenerGenericoXPresentacionComercial">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerGenericoXPresentacionComercialRequest" message="tns:obtenerGenericoXPresentacionComercial"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerGenericoXPresentacionComercialResponse" message="tns:obtenerGenericoXPresentacionComercialResponse"/>
</operation>
<operation name="obtenerMedicamentoClinicoPorMedicamentoBasico">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMedicamentoClinicoPorMedicamentoBasicoRequest" message="tns:obtenerMedicamentoClinicoPorMedicamentoBasico"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMedicamentoClinicoPorMedicamentoBasicoResponse" message="tns:obtenerMedicamentoClinicoPorMedicamentoBasicoResponse"/>
</operation>
<operation name="obtenerMedicamentoBasicoPorMedicamentoClinico">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMedicamentoBasicoPorMedicamentoClinicoRequest" message="tns:obtenerMedicamentoBasicoPorMedicamentoClinico"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerMedicamentoBasicoPorMedicamentoClinicoResponse" message="tns:obtenerMedicamentoBasicoPorMedicamentoClinicoResponse"/>
</operation>
<operation name="obtenerSubsetsXDescId">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerSubsetsXDescIdRequest" message="tns:obtenerSubsetsXDescId"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerSubsetsXDescIdResponse" message="tns:obtenerSubsetsXDescIdResponse"/>
</operation>
<operation name="obtenerAtributosDeDescription">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerAtributosDeDescriptionRequest" message="tns:obtenerAtributosDeDescription"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerAtributosDeDescriptionResponse" message="tns:obtenerAtributosDeDescriptionResponse"/>
</operation>
<operation name="obtenerOfertaTextos">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosRequest" message="tns:obtenerOfertaTextos"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosResponse" message="tns:obtenerOfertaTextosResponse"/>
</operation>
<operation name="obtenerOfertaTextosMultiSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosMultiSubsetRequest" message="tns:obtenerOfertaTextosMultiSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosMultiSubsetResponse" message="tns:obtenerOfertaTextosMultiSubsetResponse"/>
</operation>
<operation name="obtenerOfertaTextosConCaducidad">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosConCaducidadRequest" message="tns:obtenerOfertaTextosConCaducidad"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosConCaducidadResponse" message="tns:obtenerOfertaTextosConCaducidadResponse"/>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetRequest" message="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetResponse" message="tns:obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubsetResponse"/>
</operation>
<operation name="obtenerOfertaSimilitud">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaSimilitudRequest" message="tns:obtenerOfertaSimilitud"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaSimilitudResponse" message="tns:obtenerOfertaSimilitudResponse"/>
</operation>
<operation name="obtenerOfertaSimilitudXFrecuenciaUso">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaSimilitudXFrecuenciaUsoRequest" message="tns:obtenerOfertaSimilitudXFrecuenciaUso"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaSimilitudXFrecuenciaUsoResponse" message="tns:obtenerOfertaSimilitudXFrecuenciaUsoResponse"/>
</operation>
<operation name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetRequest" message="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetResponse" message="tns:obtenerOfertaSimilitudIndependienteSubsetConOfeSubsetResponse"/>
</operation>
<operation name="obtenerDataDescriptionId">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerDataDescriptionIdRequest" message="tns:obtenerDataDescriptionId"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerDataDescriptionIdResponse" message="tns:obtenerDataDescriptionIdResponse"/>
</operation>
<operation name="obtenerAuditoriaTermino">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerAuditoriaTerminoRequest" message="tns:obtenerAuditoriaTermino"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerAuditoriaTerminoResponse" message="tns:obtenerAuditoriaTerminoResponse"/>
</operation>
<operation name="obtenerComposicionFarmacoXDescId">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerComposicionFarmacoXDescIdRequest" message="tns:obtenerComposicionFarmacoXDescId"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerComposicionFarmacoXDescIdResponse" message="tns:obtenerComposicionFarmacoXDescIdResponse"/>
</operation>
<operation name="obtenerOfertaProductoPresentacion">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaProductoPresentacionRequest" message="tns:obtenerOfertaProductoPresentacion"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaProductoPresentacionResponse" message="tns:obtenerOfertaProductoPresentacionResponse"/>
</operation>
<operation name="obtenerDetalleProductoPresentacion">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerDetalleProductoPresentacionRequest" message="tns:obtenerDetalleProductoPresentacion"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerDetalleProductoPresentacionResponse" message="tns:obtenerDetalleProductoPresentacionResponse"/>
</operation>
<operation name="ObtenerComposicionGenericoAmbulatorio">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionGenericoAmbulatorioRequest" message="tns:ObtenerComposicionGenericoAmbulatorio"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionGenericoAmbulatorioResponse" message="tns:ObtenerComposicionGenericoAmbulatorioResponse"/>
</operation>
<operation name="ObtenerComposicionGenerico">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionGenericoRequest" message="tns:ObtenerComposicionGenerico"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionGenericoResponse" message="tns:ObtenerComposicionGenericoResponse"/>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorio">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionPresentacionAmbulatorioRequest" message="tns:ObtenerComposicionPresentacionAmbulatorio"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionPresentacionAmbulatorioResponse" message="tns:ObtenerComposicionPresentacionAmbulatorioResponse"/>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorioAll">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionPresentacionAmbulatorioAllRequest" message="tns:ObtenerComposicionPresentacionAmbulatorioAll"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerComposicionPresentacionAmbulatorioAllResponse" message="tns:ObtenerComposicionPresentacionAmbulatorioAllResponse"/>
</operation>
<operation name="obtenerPrompting">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerPromptingRequest" message="tns:obtenerPrompting"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerPromptingResponse" message="tns:obtenerPromptingResponse"/>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConOfeSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosIndependienteSubsetConOfeSubsetRequest" message="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosIndependienteSubsetConOfeSubsetResponse" message="tns:obtenerOfertaTextosIndependienteSubsetConOfeSubsetResponse"/>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubset">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosIndependienteSubsetRequest" message="tns:obtenerOfertaTextosIndependienteSubset"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerOfertaTextosIndependienteSubsetResponse" message="tns:obtenerOfertaTextosIndependienteSubsetResponse"/>
</operation>
<operation name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadRequest" message="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadResponse" message="tns:ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridadResponse"/>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadRequest" message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadResponse" message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridadResponse"/>
</operation>
<operation name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalRequest" message="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalResponse" message="tns:obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausalResponse"/>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausal">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoAltaEfectoAdversoXAgenteCausalRequest" message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausal"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoAltaEfectoAdversoXAgenteCausalResponse" message="tns:ObtenerCodigoAltaEfectoAdversoXAgenteCausalResponse"/>
</operation>
<operation name="ObtenerCodigoAntecedenteFamiliarPorDescriptionId">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoAntecedenteFamiliarPorDescriptionIdRequest" message="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionId"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/ObtenerCodigoAntecedenteFamiliarPorDescriptionIdResponse" message="tns:ObtenerCodigoAntecedenteFamiliarPorDescriptionIdResponse"/>
</operation>
<operation name="obtenerFamiliares">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerFamiliaresRequest" message="tns:obtenerFamiliares"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/obtenerFamiliaresResponse" message="tns:obtenerFamiliaresResponse"/>
</operation>
<operation name="informarDescripcionConsumida">
<input wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/informarDescripcionConsumidaRequest" message="tns:informarDescripcionConsumida"/>
<output wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/informarDescripcionConsumidaResponse" message="tns:informarDescripcionConsumidaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.hospitalitaliano.org.ar/TerminologiaWS/informarDescripcionConsumida/Fault/Exception"/>
</operation>
</portType>
<binding name="TerminologiaWSPortBinding" type="tns:TerminologiaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerCodigoTesauro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerClasificador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerClasificadorUnico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerClasificadorOficial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConceptXDescID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerEsMemberSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerModeladoHIBADescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerExpresionSnomed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerCodigoSNMapeo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMapSetsCorrientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMembers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMembersConceptoSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMembersCohorte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerListaDeSubsets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerGenericosPorTxtYSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPresentacionesComercialesXGenerico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerGenericoXPresentacionComercial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMedicamentoClinicoPorMedicamentoBasico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMedicamentoBasicoPorMedicamentoClinico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerSubsetsXDescId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAtributosDeDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaTextos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaTextosMultiSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaTextosConCaducidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConCaducidadYOfertaSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaSimilitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaSimilitudXFrecuenciaUso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaSimilitudIndependienteSubsetConOfeSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDataDescriptionId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAuditoriaTermino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerComposicionFarmacoXDescId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaProductoPresentacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDetalleProductoPresentacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerComposicionGenericoAmbulatorio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerComposicionGenerico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerComposicionPresentacionAmbulatorioAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPrompting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubsetConOfeSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerOfertaTextosIndependienteSubset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerAltaEfectoAdversoXHallazgoAgenteCausalYSeveridad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausalYSeveridad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCodigoAltaEfectoAdversoXHallazgoYAgenteCausal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerCodigoAltaEfectoAdversoXAgenteCausal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerCodigoAntecedenteFamiliarPorDescriptionId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerFamiliares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="informarDescripcionConsumida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TerminologiaWSService">
<port name="TerminologiaWSPort" binding="tns:TerminologiaWSPortBinding">
<soap:address location="http://www1.hospitalitaliano.org.ar:8082/TerminologiaWSMultiContextoTest/TerminologiaWSService"/>
</port>
</service>
</definitions>